server:
  http_listen_port: 0
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

client:
  url: https://{{ grafana_cloud_user }}:{{ grafana_cloud_key }}@{{ grafana_cloud_hostname }}/api/prom/push

scrape_configs:
  - job_name: opencell
    pipeline_stages:
      - regex:
          # Exclude milliseconds from parsing because of golang's limitations: https://github.com/golang/go/issues/26002
          # Make date optional (not time) because opencell-debug.log does not include it.
          expression: '^(?P<datetime>([0-9]{4}-[0-9]{2}-[0-9]{2} )?([0-9]{2}:){2}[0-9]{2}),[0-9]{3} (?P<loglevel>[^ ]+) +\[(?P<package>[^\]]+)\] \((?P<thread>[^\)]+)\) (?P<message>.+)$'
      - labels:
          loglevel:
          package:
      # Extract timestamp without milliseconds when datetime has the date part.
      # When missing, this stage fails to extract but sends the log entry anyway with a generated timestamp.
      - timestamp:
          source: datetime
          format: '2006-01-02 15:04:05'
          location: 'Europe/Madrid'

    static_configs:
      - targets:
        - localhost
        labels:
          job: opencell
          instance: {{ inventory_hostname }}
          __path__: /var/log/opencell.d/*.log
