server {

  listen 443 ssl;
  server_name {{ inventory_hostname }};

  proxy_read_timeout 720s;
  proxy_connect_timeout 720s;
  proxy_send_timeout 720s;

  proxy_set_header Host $host;
  proxy_set_header X-Forwarded-Host $host;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header X-Forwarded-Proto $scheme;
  proxy_set_header X-Real-IP $remote_addr;

  ssl_certificate /etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem;
  include /etc/letsencrypt/options-ssl-nginx.conf;

  ssl on;

  location / {
    proxy_redirect off;
    proxy_pass http://opencell;
  }

  location /apm/ {
    proxy_redirect off;
    proxy_pass http://glowroot;

    auth_basic            "Restricted";
    auth_basic_user_file  auth_basic/glowroot;

    access_log /var/log/nginx/glowroot.access.log;
    error_log /var/log/nginx/glowroot.error.log;
  }

{%- if opencell_monitoring_enabled %}
  location /node_exporter {
    proxy_redirect off;
    proxy_pass http://node_exporter/metrics;

    auth_basic            "Restricted";
    auth_basic_user_file  auth_basic/node_exporter;

    access_log /var/log/nginx/node_exporter.access.log;
    error_log /var/log/nginx/node_exporter.error.log;
  }

  location /cadvisor/ {
    proxy_pass http://cadvisor/;
    proxy_redirect ~^/containers/ /cadvisor/containers/;
    proxy_redirect ~^/docker/ /cadvisor/docker/;
    proxy_redirect ~^/metrics/ /cadvisor/metrics/;

    auth_basic            "Restricted";
    auth_basic_user_file  auth_basic/cadvisor;

    access_log /var/log/nginx/cadvisor.access.log;
    error_log /var/log/nginx/cadvisor.error.log;
  }
{%- endif %}
{%- if monitoring_postgres_exporter_enabled %}
  location /postgres/ {
        proxy_redirect off;
        proxy_pass http://postgres_exporter/metrics;
        auth_basic            "Restricted";
        auth_basic_user_file  auth_basic/postgres_exporter;
   }
  {%- endif %}
  access_log /var/log/nginx/opencell.access.log;
  error_log /var/log/nginx/opencell.error.log;
}
